extends ../layouts/Layout
block content
    include ../layouts/HeaderUser
    p.response_msg
    h2.wish-cart Cart
    if msg !== ''
        p.wish-cart-msg= msg
    else 
        .extras_con
            -products.forEach(product => {
                .products_con
                    section
                        .image_con
                            img(src=`uploads/${product.folder}/${product.images[0]}` alt= product.name)
                        .pro_content
                            - var href = product.name.split(' ').join('-');
                            a(href=`/product/${href}?r=${product._id}&referrer=${referrer}` class='name')= product.name
                            p= `Stocks: ${product.stocks}`
                            p &#x20B9  
                                span= product.price
                    button(class='remove_btn' data-item-id=product._id) Remove from cart
                    a(class='buy' href=`/purchase/${href}?r=${product._id}&referrer=${referrer}`) Proceed To Pay
            -})
        //- button(class='buy_all') Buy All

    script(src="js/remove.js")